@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.navbar-brand.brand {
	
}

#myNav {
	padding: 5px;
	margin: 0;
}

html #font {
	font-family: 'Poiret+One', Arial, sans-serif;
}

#hero {
	padding: 0;
	max-height: 400px;
	min-height: 300px;
	color: white;
	-webkit- font-smooth: antialiased;
	text-rendering: optimizelegibility;
	background: url('black-and-white-iphone.png') no-repeat center  ;
	border-bottom: 3px solid #F6F6F6;
	
	
}


#hero p {
	padding: 80px 0;
}

header {
	background: #F6F6F6;
}

#bio {
	text-align: center;
	background: #F6F6F6;
	padding: 0;
	min-height: 400px;
	color: black;
	-webkit- font-smooth: antialiased;
	text-rendering: optimizelegibility;
	
}

#bio #what {
	padding: 5%;
}

#bio #why {
	padding: 5%;
}


